.button-wrapper {
  display: inline-block;
  width: 100%;
  a {
    margin: 15px;
  }
}

.filters-wrapper {
  display: inline-flex;
  margin: 0px 15px;
  align-items: center;
  p, a {
    display: inline-block;
    float: left;
    width: auto;
    margin-right: 15px;
  }
  a {
    color: #26a69a !important;
    border: 1px solid #26a69a;
    background-color: #fff !important;
    &.active {
      color: #fff !important;
      background-color: #26a69a !important;
    }
  }
}

.loading-message {
  margin: 20px 15px;
  color: #26a69a;
}

.pictures-to-display {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  .pictures-wrapper {
    display: inline-block;
    width: 50%;
    float: left;
    .image-wrapper {
      border: 1px solid rgba(211, 211, 211, 0.5);
      border-radius: 5px;
      height: 200px;
      display: inline-flex;
      align-items: center;
      float: left;
      width: 45%;
      justify-content: center;
      margin: 2%;
      img {
        max-height: 180px;
        display: block;
        float: left;
        height: auto;
        max-width: 250px;
      }
    }
  }
}