<div class="button-wrapper">
    <a [routerLink]="['/search-list']" routerLinkActive="active" class="waves-effect waves-light btn"><i
            class="material-icons left">arrow_back</i>Back</a>
</div>

<div class="filters-wrapper">
    <p>Images to show: </p>
    <a class="waves-effect waves-light btn" [ngClass]="{'active': pixabaySection}" (click)="pixabaySection = !pixabaySection">Pixabay</a>
    <a class="waves-effect waves-light btn" [ngClass]="{'active': flickerSection}" (click)="flickerSection = !flickerSection">Flicker</a>
</div>

<p class="loading-message" *ngIf="!currentSearch['pixabayPics'] || !currentSearch['flickerPics']">Loading Images...</p>
<div class="pictures-to-display" *ngIf="currentSearch['pixabayPics'] && currentSearch['flickerPics']">
    <div class="pictures-wrapper" *ngIf="flickerSection">
        <p>flickerPics</p>
        <div class="image-wrapper" *ngFor="let singleFlickerPic of currentSearch.flickerPics.photos">
            <img src="{{singleFlickerPic.url}}"/>
        </div>
    </div>
    <div class="pictures-wrapper" *ngIf="pixabaySection">
        <p>pixabayPics</p>
        <div class="image-wrapper" *ngFor="let singlePixabayPic of currentSearch.pixabayPics.photos">
            <img src="{{singlePixabayPic.url}}"/>
        </div>
    </div>
</div>