.title{
  margin-left: 50px;
  margin-right: 50px;
}

.table-wrapper{
  margin-left: 50px;
  margin-right: 50px;
  table{
    thead{
      tr{
        th{
          button{
            background-color: transparent;
            border: none;
            outline: none;
            display: inline-block;
            float: left;
          }
        }
      }
    }
    tbody{
      tr{
        cursor: pointer;
      }
    }
  }
}