<p class="title">Latest Searches: </p>

<div class="table-wrapper">
    <table class="highlight">
        <thead>
        <tr>
            <th>
            <button (click)="sortAsc('searchTerm')" *ngIf="searchType.searchTerm == 'desc'">
                <i class="material-icons">arrow_drop_up</i>
            </button>
            <button (click)="sortDesc('searchTerm')" *ngIf="searchType.searchTerm == 'asc'">
                <i class="material-icons">arrow_drop_down</i>
            </button>
                Search Term
            </th>
            <th>
                <button (click)="sortAsc('searchTime')" *ngIf="searchType.searchTime == 'desc'">
                    <i class="material-icons">arrow_drop_up</i>
                </button>
                <button (click)="sortDesc('searchTime')" *ngIf="searchType.searchTime == 'asc'">
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                Time of Search</th>
            <th>Service</th>
            <th>Number of Results</th>
            <th>
                <button (click)="sortAsc('totalSearches')" *ngIf="searchType.totalSearches == 'desc'">
                    <i class="material-icons">arrow_drop_up</i>
                </button>
                <button (click)="sortDesc('totalSearches')" *ngIf="searchType.totalSearches == 'asc'">
                    <i class="material-icons">arrow_drop_down</i>
                </button>
                Total results</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let singleSearch of latestSearches" (click)="rowPick(singleSearch)">
            <td>{{singleSearch.searchTerm}}</td>
            <td>{{singleSearch.searchTime}}</td>
            <td>
                <p>Flicker</p>
                <p>Pixabay</p>
            </td>
            <td>
                <p>{{singleSearch.flickerPics.totalPhotos}}</p>
                <p>{{singleSearch.pixabayPics.totalPhotos}}</p>
            </td>
            <td>
                <p>{{singleSearch.totalSearches}}</p>
            </td>
        </tr>
        </tbody>
    </table>
</div>