<div class="row form-wrapper">
  <form class="col s12" [formGroup]="searchTermsForm" (ngSubmit)="getPhotosFromAPIs(searchTermsForm.controls.searchTerm.value, $event.target)" >
    <div class="row">
      <div class="input-field col s6">
        <input id="search_term" type="text" class="validate" formControlName="searchTerm">
        <label for="search_term">Search Term</label>
      </div>
      <div class="col s6">
        <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="searchTermsForm.controls.searchTerm.invalid || formSent">Search
          <i class="material-icons right">send</i>
        </button>
      </div>
    </div>
  </form>
</div>

<app-search-terms-table (onRowPick)="getPhotosFromAPIs($event)" [latestSearches]="latestSearches"></app-search-terms-table>